{% extends 'base.html.twig' %}

{% block body %}
    <h1>Series</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ series.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ series.title }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_series_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_series_edit', { 'id': series.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
