{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publisher</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publisher.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ publisher.name }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ publisher.logo }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_publisher_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_publisher_edit', { 'id': publisher.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
